.home-section {
    padding-left: 2%;
    padding-top: 2%;
}

.col-gutter-width {
    margin-top: 20px;
}

.col-sm-3 { 
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
    margin-right: 2%;
}

.card {
    padding: 10px;
    cursor: pointer;
}